.idea/*
.vscode/*
stderr.log
stdout.log
src/__pycache__
src/data/__pycache__
test/__pycache__
test.ipynb
data/*
logs/*
wandb/
protein_properties/
data/sasa/class_weights_*.pt
lightning_logs/
chkpnts/
log/
data/glyco/np/*
runs/*
*.npy
__pycache__



rr/*

