.idea/*
.vscode/*
stderr.log
stdout.log
src/__pycache__
src/data/__pycache__
test/__pycache__
test.ipynb

data/sasa/sasaembeddings.h5
data/sasa/*.npy
data/sasa/*.pt
data/glyco/*.npy
data/glyco/*.pt
data/glyco/glyco_embeddings.h5
data/glyco/glyco_esm_embeddings.h5
data/glyco/vespag/*
logs/*
wandb/
protein_properties/
data/sasa/class_weights_*.pt
lightning_logs/
chkpnts/
log/
data/glyco/np/*
runs/*
*.npy
__pycache__
results/per_prot_perf_10.tsv
results/per_prot_perf.tsv
results/glyco/baseline/GlycoModel_2_test_preds.tsv
results/glyco/baseline/GlycoModel_3_test_preds.tsv
results/pandey_bfactor/35_all/b_factor_model.pth
results/pandey_bfactor/35_all/epoch_98_no_rr.pth
results/pandey_bfactor/35_all/epoch_98.pth
results/plots/6tme_actual_vs_pred.png
results/plots/6to0_actual_vs_pred.png
results/plots/calibration_curve_lstm_10.png
results/plots/glyco_2_performance.png
results/plots/glyco_3_confmatrix.png
results/plots/glyco_3_performance.png
results/plots/per_prot_pearsonr_10vsreg.png
results/plots/per_prot_pearsonr_vs_length.png
results/plots/RSA_class_perf.png
results/plots/RSA_reg_perf.png
results/preds/EnsembleModel_1_test_preds.tsv
results/preds/EnsembleModel_2_test_preds.tsv
results/preds/EnsembleModel_3_test_preds.tsv
results/preds/EnsembleModel_10_test_preds.tsv
results/preds/SASABaseline_1_test_preds.tsv
results/preds/SASABaseline_2_test_preds.tsv
results/preds/SASABaseline_3_test_preds.tsv
results/preds/SASABaseline_10_test_preds.tsv
results/preds/SASACNN_1_test_preds.tsv
results/preds/SASACNN_2_test_preds.tsv
results/preds/SASACNN_3_test_preds.tsv
results/preds/SASACNN_10_test_preds.tsv
results/preds/SASALSTM_1_test_preds.tsv
results/preds/SASALSTM_2_test_preds.tsv
results/preds/SASALSTM_3_test_preds.tsv
results/preds/SASALSTM_10_test_preds.tsv
data/LMNglyPred/df_indepenent_test_again_done_that_has_unique_protein_and_unique_sequence.csv
data/LMNglyPred/df_train_data_without_indepenent_test_and_protein.csv
data/OglyPred/Feature_Extraction_O_linked_Testing_Negative_11466_Sites_less.txt
data/OglyPred/Feature_Extraction_O_linked_Testing_Positive_375_Sites_less.txt
data/OglyPred/Feature_Extraction_O_linked_Training_Negative_114307_Sites_less.txt
data/OglyPred/Feature_Extraction_O_linked_Training_Positive_4885_Sites_less.txt
data/OglyPred/O_linked_test_pids.csv
data/bfactor/protein_list.txt
data/glyco/conspred_probs.h5
data/glyco/glyco_filtered_all.fasta
data/glyco/N_test_df.csv
data/glyco/N_test.fasta
data/glyco/O_test_df.csv
data/glyco/O_test.fasta
data/glyco/test_df.csv
data/glyco/test_rr_df.csv
data/glyco/test_rr.fasta
data/glyco/test.fasta
data/glyco/train_df.csv
data/glyco/train_rr_a_test.fasta
data/glyco/train_rr_df.csv
data/glyco/train.fasta
data/glyco/old/full_train.o
data/glyco/old/GlycoModel_2_test_preds.tsv
data/glyco/old/GlycoModel_3_test_preds.tsv
data/glyco/old/hard_N_test.o
data/glyco/old/hard_O_test.o
data/glyco/old/N_test.o
data/glyco/old/O_test.o
data/glyco/old/train_more_neg.o
data/glyco/old/train.o
data/glyco/old/val.o
data/pandey_bfactor/protein_list.txt
data/pandey_bfactor/rr_train_a_our_test.fasta
data/pandey_bfactor/scores.tsv
data/pandey_bfactor/seq_to_test_for.fasta
data/pandey_bfactor/seqs.fasta
data/sasa/ss_dis.txt
data/ss_over_time/id_seqs.fasta
data/ss_over_time/scores.txt
protein_pdb_seqres.txt-bl/*
protein_pdb_seqres.txt-seq/*
protein_pdb_seqresdicau0ub/*
profile_out.txt
pdb_seqres.txt.gz
data/*
rr/*
tb_logs/*
protein_properties_cv/brx84z01/checkpoints/epoch=14-step=1410.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=16-step=1598.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=16-step=1615.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=19-step=1880.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=20-step=1995.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=22-step=2185.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=28-step=2726.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=28-step=2755.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=29-step=2820.ckpt
protein_properties_cv/brx84z01/checkpoints/epoch=29-step=2880.ckpt
protein_properties_cv/jy1z2bni/checkpoints/epoch=4-step=470.ckpt
protein_properties_cv/jy1z2bni/checkpoints/epoch=4-step=475.ckpt
protein_properties_cv/jy1z2bni/checkpoints/epoch=5-step=576.ckpt
protein_properties_cv/jy1z2bni/checkpoints/epoch=12-step=1222.ckpt
tb_bfactor/bfactor/version_0/events.out.tfevents.1732028545.Manji-home.131283.0
tb_bfactor/bfactor/version_0/events.out.tfevents.1732028705.Manji-home.131283.1
tb_bfactor/bfactor/version_0/hparams.yaml
tb_bfactor/bfactor/version_0/checkpoints/epoch=3-step=676.ckpt
tb_bfactor/bfactor/version_1/events.out.tfevents.1732030595.Manji-home.149687.0
tb_bfactor/bfactor/version_1/events.out.tfevents.1732031078.Manji-home.149687.1
tb_bfactor/bfactor/version_1/hparams.yaml
tb_bfactor/bfactor/version_1/checkpoints/epoch=11-step=2028.ckpt
tb_bfactor/bfactor/version_2/events.out.tfevents.1732031222.Manji-home.162853.0
tb_bfactor/bfactor/version_2/hparams.yaml
tb_bfactor/bfactor/version_2/checkpoints/epoch=5-step=510.ckpt
tb_bfactor/bfactor/version_3/events.out.tfevents.1732032163.Manji-home.176073.0
tb_bfactor/bfactor/version_3/hparams.yaml
tb_bfactor/bfactor/version_3/checkpoints/epoch=4-step=425.ckpt
tb_bfactor/best_bfactor_cv_epoch=27-step=8344.ckpt
tb_bfactor/best_sasa_cv_epoch=26-step=8046.ckpt
tb_bfactor/bfactor_cv.pickle
tb_bfactor/OPUS_best_cv_epoch=30-step=20925.ckpt
tb_bfactor/OPUS_bfactor_cv.pickle
tb_bfactor/sasa_cv.pkl
results/bfactor/baseline/BfactorBaseline_1_test_preds.tsv
results/bfactor/baseline/SASACNN_1_test_preds.tsv
results/glyco/baseline/GlycoModel_2 N-Linked_test_preds.tsv
results/glyco/baseline/GlycoModel_2 O-Linked_test_preds.tsv
results/pandey_bfactor/35_all/epoch_98_rr.pth
results/plots/bfactor_pcc_full_test.png
results/plots/bfactor_pcc.png
results/plots/N_glyco_confusion_matrices_undersampled.png
results/plots/N_glyco_confusion_matrices.png
results/plots/N_glyco_f1_mcc_undersampled.png
results/plots/N_glyco_f1_mcc.png
results/plots/N_glyco_roc_undersampled.png
results/plots/N_glyco_roc.png
results/plots/O_glyco_confusion_matrices.png
results/plots/O_glyco_f1_mcc.png
results/plots/O_glyco_roc.png
results/plots/O_linked_test_distribution.png
results/plots/pcc_comparison_sasa.png
results/plots/redundancy_reduction-1.png
results/plots/SASA_pcc.png
configs/bfactor_config.yaml
configs/cv_config.yaml
master_thesis_deniz_hasler.tar.xz
master_thesis_deniz_hasler.zip
